<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NavigationBar</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="../../../dist/index.css" rel="stylesheet" />
  </head>
  <body>
    <nav
      class="bg-white flex items-center justify-around shadow-card-shadow min-h-[83px]"
    >
      <ul
        class="font-laundry text-center text-xs tracking-tight flex justify-between items-center gap-14 mt-3 mx-10"
      >
        <li class="flex flex-col items-center size-11 gap-y-[5px]">
          <img src="../assets/home-default.svg" /><a
            href="#"
            class="text-gray-700 items-center"
            >홈</a
          >
        </li>
        <li class="flex flex-col items-center size-11 gap-y-[5px]">
          <img src="../assets/myerrands-default.svg" /><a
            href="#"
            class="text-gray-700"
            >내 심부름</a
          >
        </li>
        <li class="flex flex-col items-center size-11 gap-y-[2px]">
          <img src="../assets/chating-default.svg" /><a
            href="#"
            class="text-gray-700"
            >채팅</a
          >
        </li>
        <li class="flex flex-col items-center size-11 gap-y-[5px]">
          <img src="../assets/myinfo-default.svg" /><a
            href="#"
            class="text-gray-700"
            >나의 정보</a
          >
        </li>
      </ul>
    </nav>
  </body>
</html>
